* {
  box-sizing: border-box;
}

body {
  --background-color: white;
  --text-color: black;
  --elements-color: white;
  margin: 0;
}

main, header {
  background-color: var(--background-color);
  color: var(--text-color);
}

.title {
  font-weight: 800;
}

a {
  text-decoration-line: none;
  color: inherit;
}

.header-container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, 
  rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  padding-inline: 24px;
  background-color: var(--elements-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin-inline: auto;
}
